<!DOCTYPE html>
<html lang="kr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>
      body {
         font-family: 'BBTreeGR', 'Raleway', 'sans-serif';
        background-color:#F2F2F2;
        color: #fff;
      }
    </style>
    <title>잠깐만요!!</title>
  </head>

  <body>
</br></br>
       <center>
    <fieldset style="width : 300px;
    border-style: solid;
    border-width: 3.5px;
    border-color: lightgray;
    margin: 19px;"

    <div class="container">

      <div>
        <legend><b><img src="/static/images/logo.png" alt="" style="width: 39%;"></b></legend>
        <h2 style="font-size: 20px; font-weight: bolder; color:gray;">
        즐거운 HangOut을 위해 
         <br>
         <bold>회원가입</bold>을 해주세요! 
         <br>
        </h2>
        
        <h6 class="lead mb-0">
          <a style="font-weight: bold; color:#FF607f; font-size:17px;" href="{% url 'signup' %}"> 
          회원가입 페이지가 뜨지 않으면 <br> 여기를 클릭해주세요 :)</a>
          </br>
        </h6>
      </div>
    </div>
    </br>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    </fieldset>
    </center>
  </body>
</html>
